@model IEnumerable<Order>

@{
	ViewData["Title"] = "Index";
}
@section Styles {
	<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/orders.css" asp-append-version="true" />
}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Orders</h1>


	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Orders</h6>
			<a class="btn btn-primary mb-3" asp-action="Create">Add Order</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.User)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Address)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.orderProducts)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Amount)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Status)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.CreatedAt)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.User.FullName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Address.AddresssLine)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.orderProducts.Count)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Amount)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Status)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CreatedAt)
								</td>
								<td>
									@if (item.Status == "Pending")
									{
										<a asp-action="Confirm" asp-route-id="@item.Id">Confirm |</a>
										<a asp-action="Reject" asp-route-id="@item.Id">Reject |</a>
									}
									@if (item.Status == "Rejected")
									{
										<a asp-action="Notify" asp-route-id="@item.Id">Notify User</a>
									}
									|

									<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
									<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
									<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
