@model HomeViewModel
@inject ApplicationDbContext _context;

@{
	ViewData["Title"] = "Home Page";
}
@section Styles {
<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
<section class="py-5">
	<div class="d-flex">
		<h2>All Products</h2>
		<input type="text" placeholder="Search" />
	</div>
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


			@foreach (var Product in Model.Products)
			{


				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src="@Product.Image" alt="@Product.Name" />

						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">
									<a asp-controller="Products" asp-action="Details" asp-route-id="@Product.Id">
										@Product.Name
									</a>
								</h5>

								<!-- Product price-->
								<span>@Product.Price.ToString("C")</span>
								<br />

								<!-- Products in stock -->
								@if (@Product.ProductsInStock <= 3)
								{
									<small class="text-danger">In Stock: @Product.ProductsInStock</small>
								}
							</div>
						</div>


						@{
							var P = _context.Carts
							.Where(C => C.User.UserName == User.Identity.Name)
							.FirstOrDefault(c => c.ProductId == @Product.Id);
						}

						@if (P == null && Product.ProductsInStock != 0)
						{
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto"
									   asp-controller="Cart"
									   asp-action="AddToCart"
									   asp-route-ProductId="@Product.Id">
										Add To Cart
									</a>
								</div>
							</div>
						}
						<!-- Product actions-->


					</div>
				</div>
			}

		</div>
	</div>
</section>
@section Scripts {

}